/*
I wanted to put something funi here but got no idea so.. yeah..
*/
body{
    background-color: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 7px;
    gap:10px;
}

main h3{
    max-width: 450px;
}

#daInput{
    color: #aaa;
    outline: none;
    background-color: #181818;
    border: 2px solid #202020;
    transition: border-color .1s ease, background-color .1s ease, color .1s ease;
}
#daInput:focus{
    color: #eee;
    background-color: #202020;
    border-color: #303030;
}

#daButton{
    margin: auto 0 0 0;
    border: none;
    font-size: 16px;
    background-color: #181818;
    border: 2px solid #202020;
    border-radius: 5px;
    color: #aaa;
    cursor: pointer;
    transition: border-color .1s ease, background-color .1s ease, color .1s ease;
}
#daButton:hover{
    background-color: #202020;
    border-color: #303030;
    color: #ddd;
}

#daButton:active{
    background-color: #181818;
}